footer.footer
    .container
        .footer__phone
            a(href='tel:+78182276609') +7 (81 82) 27 66 09
        .footer__address
            span г. Архангельск, ул. Комсомольская, 59
        .footer__time
            span
                | РЕЖИМ РАБОТЫ: пн.-сб.: 11
                sup 00
                |  &ndash; 19
                sup 00
                | вс.: 11
                sup 00
                |  &ndash; 18
                sup 00
        .footer__bankets
            span Банкетные залы обслуживаются до 02.00
        .footer__bottom
            .footer__copyright
                span &copy; Фабрика вкусной еды
            .footer__rights
                span Все права защищены. Копирование материалов является нарушением законов Российской Федерации
            .footer__design
                span Дизайн
                a(href='#')
                    img(src='static/img/general/ice-media.jpg' alt='Ice Media')