header.header
    .container
        .header__top.top
            .top__item
                .header__phone
                    a(href='tel:+78182276609')
                        img(src='static/img/general/call-us.png' alt='+7 (8182) 27 66 09')
            .top__item
                .header__logo
                    a(href='/index.html')
                        img(src='static/img/general/logo.png' alt='Фабрика вкусной еды')
            .top__item
        .header__links.links
            .links__list
             .links__item.links__item_active
                 a(href='menu.html')
                    span Меню
             .links__item
                 a(href='bankets.html')
                    span Банкеты
             .links__item
                 a(href='catering.html')
                    span Кейтеринг
             .links__item
                 a(href='#')
                    span Возьми с собой
             .links__item
                 a(href='#')
                    span Отзывы
        .header__sublinks.sublinks
            .sublinks__list
                .sublinks__item
                    a(href='#')
                        span Супы
                .sublinks__item
                    a(href='#')
                        span Горячее
                .sublinks__item
                    a(href='#')
                        span Салаты
                .sublinks__item
                    a(href='#')
                        span Выпечка
                .sublinks__item
                    a(href='#')
                        span Комплексные обеды
                .sublinks__item
                    a(href='#')
                        span Напитки
                .sublinks__item
                    a(href='#')
                        span Дополнительные товары