header.header
    .container
        .header__top.top
            .top__item
                .header__phone
                    a(href='tel:+78182276609')
                        img(src='static/img/general/call-us.png' alt='+7 (8182) 27 66 09')
            .top__item
                .header__logo
                    a(href='#')
                        img(src='static/img/general/logo.png' alt='Фабрика вкусной еды')
            .top__item
        .header__menu.menu
            .menu__list
             .menu__item.menu__item_active
                 a(href='#')
                    span Меню
             .menu__item
                 a(href='#')
                    span Банкеты
             .menu__item
                 a(href='#')
                    span Кейтеринг
             .menu__item
                 a(href='#')
                    span Возьми с собой
             .menu__item
                 a(href='#')
                    span Отзывы
        .header__submenu.submenu
            .submenu__list
                .submenu__item
                    a(href='#')
                        span Супы
                .submenu__item
                    a(href='#')
                        span Горячее
                .submenu__item
                    a(href='#')
                        span Салаты
                .submenu__item
                    a(href='#')
                        span Выпечка
                .submenu__item
                    a(href='#')
                        span Комплексные обеды
                .submenu__item
                    a(href='#')
                        span Напитки
                .submenu__item
                    a(href='#')
                        span Дополнительные товары