extends ../layout/main

block variables
	- var title = 'Банкетные залы'
	- var pageClass = 'bankets-page'

block content
	.container
		.bankets
			.bankets__title
				h2.like-h2 Банкетные залы
			.bankets__text
				p Банкет, свадьба, деловой ужин, корпоратив, выпускной или фуршет – любое из событий станет  незабываемым с помощью кафе «Дружба».
				p У нас есть три отдельных зала, от 10 до 150 человек, каждый со своим оформлением, атмосферой и особенностями. А еще у нас есть специальный свет, серьезное звуковое оборудование, танцпол и микшерные пульты.
				span.like-h3 БАНКЕТНЫЕ ЗАЛЫ «ДРУЖБЫ» — СТИЛЬ И ПРОСТРАНСТВО!
			.bankets__photos.photos
				.photos__list
					.photos__item.photos__item_wide(style='background-image: url("static/img/content/bankets/1.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/2.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/3.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/4.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/5.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/6.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/7.jpg")')
					.photos__item(style='background-image: url("static/img/content/bankets/8.jpg")')
			.bankets__bottom
				span.like-h3
					| Закажите у нас банкет, фуршет или корпоратив
					br
					| Звоните:


