extends ../layout/main

block variables
	- var title = 'Кейтеринг'
	- var pageClass = 'catering-page'

block content
	.container
		.catering
			.catering__title
				h2.like-h2 Кейтеринг
			.catering__text
				p В наши дни Catering — это больше, чем просто поставка продуктов и блюд для организации мероприятия. Кейтеринг — это полноценный комплекс услуг выездного обслуживания, где самое главное слово — Сервис!
				p В наши услуги кейтеринга входит организация выездного банкета, фуршета или кофе брейка для вашего делового мероприятия, свадьбы, дня рожденья или когда просто хочется настоящего праздника. А наши грамотные специалисты помогут выбрать место проведения, составить меню на любой вкус и кошелек, в соответствии с тематикой мероприятия. Посуду, приборы, сервировку и т. п. мы берем на себя. Поможем с праздничным украшением и оформлением.
				p Банкет, свадьба, деловой ужин, корпоратив — любое из событий станет незабываемым с помощью грамотных специалистов из кафе «Дружба»!
				p Выездное обслуживание конгрессов, круглых столов, выездных совещаний и т. п., в т. ч. — на природе.
			.catering__photos.photos
				.photos__list
					.photos__item(style='background-image: url("static/img/content/catering/1.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/2.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/3.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/4.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/5.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/6.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/7.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/8.jpg")')
					.photos__item(style='background-image: url("static/img/content/catering/9.jpg")')


