extends ../layout/main

block variables
	- var title = 'Отзывы'
	- var pageClass = 'reviews-page'

block content
	.container
		.reviews
			.reviews__title
				h2.like-h2 Отзывы
			.reviews__list
				.reviews__item.review
					.review__photo(style='background-image: url("static/img/content/reviews/1.jpg")')
					.review__text
						.review__name
							span АНТОН, 25 лет
						.review__text
							p
								| Решили посетить Фабрику вкусной еды, услышав от друзей положительные от-
								br
								| зывы о ней, и убедились, что все сказанное о нем правда.
							p
								|Коротко: приятная, успокаивающая обстановка, где можно незаметно провести
								br
								| массу времени, хороший выбор меню, очень отзывчивый и ненавязчивый пер-
								br
								| сонал, готовый дать консультацию при заказе блюд, и конечно отличная готовка.
							p Остались самые положительные впечатления о месте.
				.reviews__item.review
					.review__photo(style='background-image: url("static/img/content/reviews/2.jpg")')
					.review__text
						.review__name
							span ВАСИЛИСА, 22 года
						.review__text
							p
								| Всё очень нравится!!! Здесь есть любая на выбор еда, очень благодарна сотруд-
								br
								| никам за быстроту приготовления еды. При этом вся еда вкусная, что не может не
								br
								| порадовать. Надеюсь, что буду постоянным клиентом вашего ресторана. Желаю
								br
								| вашему ресторану и всем сотрудникам, которые работают у вас, процветания и
								br
								| большого роста!!! А также радовать своих клиентов своим профессионализмом
								br
								| и вкусной едой!!!!
				.reviews__item.review
					.review__photo(style='background-image: url("static/img/content/reviews/3.jpg")')
					.review__text
						.review__name
							span ИГОРЬ, 34 года
						.review__text
							p
								| Хотим выразить благодарность за проведение нашего торжества! Персонал и
								br
								| обслуживание на высшем уровне! Мы рады, что не ошиблись с выбором бан-
								br
								| кетного зала! С удовольствием будем рекомендовать всем родным и близким! И
								br
								| обязательно заглянем снова
