@import 'utils/fonts.styl'
@import 'utils/vars.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'
@import 'ui.styl'

html
	font-size baseFontSize
	height 100%
	line-height 1.3

body
	font-family mainFont
	height 100%


h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0

a
	color black
	text-decoration none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative

input,
select,
button
	outline none

*, *:before, *:after
	box-sizing border-box


.content
	flex 1 0 auto
	margin-bottom 55px
	background-image url('../img/general/bg_body.png')

	.container
		margin-top -150px
		background-color white


.wrapper
	display flex
	flex-direction column
	height 100%
	width 100%
	position relative

.container
	width 1240px
	margin 0 auto
	padding-left 25px
	padding-right 25px

a
	color inherit


//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
@import 'pages/index.styl'
@import 'pages/menu.styl'
@import 'pages/bankets.styl'
@import 'pages/catering.styl'
@import 'pages/reviews.styl'
@import 'pages/take.styl'