.like-h2
  display inline-block
  color yellow
  @extend .triviaslabblack
  text-transform uppercase
  text-align center
  font-size 62px
  line-height 46px
  border-bottom 2px dotted yellow

.like-h3
  display inline-block
  color violet_dark
  @extend .triviaslabblack
  text-transform uppercase
  font-size 42px

p
  @extend .triviasanslight
  color violet_dark
  font-size 16px
  line-height 25px
  text-align justify
  margin-bottom 16px !important

  &:last-child
    margin-bottom 0 !important

