.like-h2
  display inline-block
  color yellow
  @extend .triviaslabblack
  text-transform uppercase
  text-align center
  font-size 62px
  line-height 46px
  border-bottom 2px dotted yellow

.like-h3
  display inline-block
  color violet_dark
  @extend .triviaslabblack
  text-transform uppercase
  font-size 42px

p
  @extend .triviasanslight
  color violet_dark
  font-size 16px
  line-height 25px
  text-align justify
  margin-bottom 16px !important

  &:last-child
    margin-bottom 0 !important

.btn
  font-size: 18px;
  line-height: 24px;
  position: relative;
  left: 6px;
  display: inline-block;
  padding: 5px 21px 1px 23px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  background-color: #f9b233;
  @extend .triviaslabmedium

.popup
  display none
  background alpha(black, .5)
  text-align center
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000

  &__content
    background white
    display inline-block
    padding 40px
    border 1px violet_dark dotted
    border-radius 10px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

    & > .like-h3
      margin-bottom 30px

  &__list
    display flex
    flex-direction row
    align-items flex-end

  &__item
    margin-right 20px

    &:last-child
      margin-right 0

    span
      display block
      text-align left
      @extend .triviaslabmedium
      font-size 24px
      line-height 36px

.input
  font-size 18px
  line-height 24px
  border 1px violet_dark dotted
  border-radius 10px
  padding 0 10px


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}