@font-face
  font-family 'HelveticaNeue'
  src url('../fonts/HelveticaNeueCyr-Light.otf')
  font-weight 100
  font-style normal
  font-stretch normal

@font-face
  font-family 'TriviaSansLight'
  src url('../fonts/TriviaSansLight.otf')
  font-weight 100
  font-style normal
  font-stretch normal

@font-face
  font-family 'TriviaSlabLight'
  src url('../fonts/TriviaSlabLight.otf')
  font-weight 100
  font-style normal
  font-stretch normal


@font-face
  font-family 'TriviaSlabMedium'
  src url('../fonts/TriviaSlabMedium.otf')
  font-weight 100
  font-style normal
  font-stretch normal


@font-face
  font-family 'TriviaSlabBlack'
  src url('../fonts/TriviaSlabBlack.otf')
  font-weight 100
  font-style normal
  font-stretch normal

.helvetica
  font-family HelveticaNeue, Arial, sans-serif

.triviaslabmedium
  font-family TriviaSlabMedium, Arial, sans-serif

.triviaslablight
  font-family TriviaSlabLight, Arial, sans-serif

.triviaslabblack
  font-family TriviaSlabBlack, Arial, sans-serif

.triviasanslight
  font-family TriviaSansLight, Arial, sans-serif